* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #5E5E5E;
}

h1 {
    font-size: 1.5rem;
    justify-content: center;
    display: flex;
    background-color: black;
    color: aliceblue;
}

#container {
    height: 80vmin;
    width: 80vmin;
    background-color: #77625C;
    display: flex;
    flex-direction: column; /* Updated to column layout */
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    border: none;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 1);
    border-radius: 10%;
    transform: translate(-50%, -50%);
}
h2{
    font-weight: 700;
}
#board {
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    background-color: #98D2EB;
    gap: 1.5rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 1);
    border-radius: 10%;
    align-items: center;
    justify-content: center;
}

.box {
    height: 15vmin;
    width: 15vmin;
    border: none;
    border-radius: 10px;
    display: flex;
    font-size: 10vmin;
    align-items: center;
    justify-content: center;
}

#reset {
    margin-top: 1rem; 
    border: none;
    padding: 1rem;
    font-size: 1.5rem;
    color: aliceblue;
    background-color: #333333;
    border-radius: 8px;
}
